
/* General*/

body {

    font-family: 'work-sans', sans-serif;
    font-weight: 400;

}


h1,
.main-title,
.navigation {

    font-family: 'Raleway', sans-serif;
    font-weight: 100;

}


li {

    margin: 10px 5px;
    font-size: 2rem;

}


/* Header */

.logo {

    margin-top: 20px;

}

li:hover{
    opacity: 0.4;
    cursor: pointer;
}


/*Content/

/*Contact me section*/

.fa {

    padding: 1% 1% 0 1.5%;
    display: block;

}


/*Featured work section*/

h2.second-title {

        text-indent: 3rem;

}


/*Media queries*/

@media screen and (min-width: 850px) {

    h1 {

        letter-spacing: 1rem;
    }


    h4,
    li {

         letter-spacing: 0.6rem;
         font-size: 2.5rem;

    }


    h2 {

        font-size: 3.5rem;
        letter-spacing: 0.3rem;

    }

}


@media screen and (min-width:0) and (max-width: 500px){

    h1 {

        font-size: 2.2rem;

    }

    h2 {

        font-size: 2rem;

    }


    h2.second-title {

        text-indent: 2.5rem;

    }

}